// Test mínimo: una sola tecla lógica en la posición RC(0,0) para descartar
// que el problema sea el keymap complejo.

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Single";
            bindings = <
    &kp Q       &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans      &trans
    &trans      &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans      &trans
    &trans      &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans      &trans
                  &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans
            >;
        };
    };
};
